USE [master]
GO
/****** Object:  Database [PolyOE]    Script Date: 11/17/2025 5:51:32 PM ******/
CREATE DATABASE [PolyOE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PolyOE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PolyOE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PolyOE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PolyOE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyOE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyOE]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 11/17/2025 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[id] [nvarchar](20) NOT NULL,
	[Userid] [nvarchar](20) NULL,
	[VideoId] [nvarchar](10) NULL,
	[LikeDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share]    Script Date: 11/17/2025 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[id] [nvarchar](20) NOT NULL,
	[Userid] [nvarchar](20) NULL,
	[Videoid] [nvarchar](10) NULL,
	[Email] [nvarchar](40) NULL,
	[ShareDate] [date] NULL,
	[emails] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2025 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Admin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 11/17/2025 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[id] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Poster] [nvarchar](50) NULL,
	[Views] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Favorite] ([id], [Userid], [VideoId], [LikeDate]) VALUES (N'01', N'admin02', N'vid001', CAST(N'2020-12-10' AS Date))
INSERT [dbo].[Favorite] ([id], [Userid], [VideoId], [LikeDate]) VALUES (N'03', N'user02', N'vid003', CAST(N'2022-06-20' AS Date))
INSERT [dbo].[Favorite] ([id], [Userid], [VideoId], [LikeDate]) VALUES (N'04', N'user03', N'vid001', CAST(N'2024-05-12' AS Date))
GO
INSERT [dbo].[Share] ([id], [Userid], [Videoid], [Email], [ShareDate], [emails]) VALUES (N'01', N'admin02', N'vid001', N'notadmin@example.com', CAST(N'2020-12-10' AS Date), NULL)
INSERT [dbo].[Share] ([id], [Userid], [Videoid], [Email], [ShareDate], [emails]) VALUES (N'02', N'user01', N'vid002', N'trieulht@example.com', CAST(N'2021-01-15' AS Date), NULL)
INSERT [dbo].[Share] ([id], [Userid], [Videoid], [Email], [ShareDate], [emails]) VALUES (N'03', N'user02', N'vid003', N'minhb@example.com', CAST(N'2022-06-20' AS Date), NULL)
GO
INSERT [dbo].[Users] ([id], [Password], [Fullname], [Email], [Admin]) VALUES (N'admin02', N'secureadmin', N'Hello world', N'notadmin@example.com', 1)
INSERT [dbo].[Users] ([id], [Password], [Fullname], [Email], [Admin]) VALUES (N'manager', N'manage@2025', N'Đặng Quốc Dũng', N'dungdq@example.com', 0)
INSERT [dbo].[Users] ([id], [Password], [Fullname], [Email], [Admin]) VALUES (N'manager02', N'manageme', N'Lê Th? Bích', N'bichlt@example.com', 0)
GO
INSERT [dbo].[Video] ([id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'vid001', N'Hướng dẫn Java cơ bản', N'f021ecfb624d5a2b8880791234c557cc.jpg', 2001, N'Video hướng dẫn Java cho người mới bắt đầu.', 1)
INSERT [dbo].[Video] ([id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'vid002', N'Lập trình SQL Server', N'sql_tutorial.jpg', 1200, N'Học cách tạo bảng, khóa ngoại và truy vấn dữ liệu trong SQL Server.', 1)
INSERT [dbo].[Video] ([id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'vid003', N'Làm quen với HTML & CSS', N'html_css.jpg', 981, N'Video dạy tạo giao diện web cơ bản bằng HTML và CSS.', 1)
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Users] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Users]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Video] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Video]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_Users] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_Users]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_Video] FOREIGN KEY([Videoid])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_Video]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FKa90uwreir7e40psp8gc8aslyj] FOREIGN KEY([Videoid])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FKa90uwreir7e40psp8gc8aslyj]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FKp9pc3q5r2rk1xn6s34dkhtt4u] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FKp9pc3q5r2rk1xn6s34dkhtt4u]
GO
USE [master]
GO
